<aside class="profile-card">
  {% if include.image_placeholder %}
  <div class="profile-pic profile-image-placeholder center" aria-hidden="true"></div>
  {% else %}
  <a class="profile-image-link" href="{{ '/' | relative_url }}">
    <img src="{{ '/staticfiles/images/eu.jpg' | relative_url }}" alt="Gabriel O. Alves" class="profile-pic center">
  </a>
  {% endif %}
  <div class="profile-rule"></div>
  <h3><a href="{{ '/' | relative_url }}">Gabriel O. Alves</a></h3>
  <p class="profile-role">PhD student at the MPI-PKS</p>
  <ul class="social-links">
    <li><a href="https://github.com/alves-gabriel" aria-label="GitHub"><img class="social_git" src="{{ '/staticfiles/images/github_logo.png' | relative_url }}" alt=""></a></li>
    <li><a href="https://scholar.google.com/citations?user=I3gL-QEAAAAJ&hl=pt-BR" aria-label="Google Scholar"><img class="social_scholar" src="{{ '/staticfiles/images/scholar.png' | relative_url }}" alt=""></a></li>
    <li><a href="https://orcid.org/0000-0003-2171-2034" aria-label="ORCID"><img class="social_orcid" src="{{ '/staticfiles/images/orcid_logo.png' | relative_url }}" alt=""></a></li>
  </ul>
  <p class="email">alves.go.co(at)gmail.com</p>
</aside>
