/*Overall*/
*{

  margin-right: -100px;
  padding: 0;
}

/*Paragraph*/
.tab {
  text-indent:40px;
  text-align: justify;
}

/*These two definitions define a class for the link which does not
inherit the a tag from the header.css file, which changes the size
of the word*/
.std{
  text-decoration: none; /*Removes the link understroke*/
  color: #4169e1; /*Royal Blue*/
  font-size: inherit;
}

.std:hover
{
  color: purple; /*Royal Blue*/
  font-size: inherit;
}

#profile-wrapper{
    text-align: center;
    background-color:#ededed;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#presentation_card_mobile{
  display:none;
  transition: 0.5s;
}

ul{
    padding: 0;
    /*Make it so we don't see the dot*/
    list-style-type: none;
}

/*Definitions for the social_git class*/
.social_git-links ul, li{

    list-style-type: none;
    display: inline-block;
}

.social_git{

    width:33px;
    height:33px;
}

/*Definitions for the social_scholar class*/
.social_scholar-links ul, li{

    list-style-type: none;
    display: inline-block;
}

.social_scholar{

    width:33px;
    height:33px;
}

/*Definitions for the social_orcid class*/
.social_orcid-links ul, li{

    list-style-type: none;
    display: inline-block;
}

.social_orcid{

    width:36px;
    height:36px;
}

/*Definitions for the social_orcid class*/
.row_custom_bg{

    background-color: #f5f5f5;
}

/*Margin between rows for mobile*/
@media (max-width: 768px) {
  .col-md-4,.col-md-5, .col-md-9 {
    margin-left: 0px; /*Removes the margin in the mobile view, since we also remove the presentation card!*/
    margin-bottom: 20px;
  }
  .col-md-3{
    width: 0px!IMPORTANT;
  }
}

/*Class to center text, figures and so on*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Removes the presentation card in mobile. We use 768px to math the limit for col-md-3 on bootstrap*/
@media (max-width: 768px) {
  #presentation_card{
    display:none;
    transition: 0.5s;
  }

  #presentation_card_mobile{
    width: 50%;
    margin: 0 auto;
    display:block;
    transition: 0.5s;
  }
}

/*Makes the sidebar fixed in the desktop version*/
@media (min-width: 768px) {
  #code_sidebar{
    position: fixed;
    width: 15%;
    top: 15%;
    left: 5%;
  }
}

/*Puts the "codes" section sidebar at the top instead of the left. Removes the fixed positioning.*/
@media (max-width: 768px) {

  #code_sidebar{
    position: static;
    width: 350px;
    /* padding-right:-100%; */
    margin: 0 auto;
    display: block;
    transition: 0.5s;
  }
}

/*Highlights the active tab*/
#home #nav_home a,
#research #nav_research a,
#notes #nav_notes a,
#coding #nav_coding a,
#presentations #nav_presentations a,
#miscellanea #nav_miscellanea a {
    color:#4169e1;
}

/*Lets the ul tag divide the unordered list into two columns in the notes page*/
.notes_list ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/*Adds a marging in order to create a gap between the two columns*/
.notes_list{
  margin: 20px 20px;
}

/*Removes horizontal margin in mobile*/
@media (max-device-width: 1000px) {
  .notes_list{
    margin: 20px 00px !important; 
    text-align: center !important;
  }
}

/*Notes cover image frane*/
.notes_cover{

    max-width: 80%; /*Limits the width in cellphones*/
    width:340px;
    aspect-ratio: 0.71 ;  /*We use the aspect ratio of a A4 sheet to define the height*/
    border-radius: 8px;
    border: 1px solid #bbb;
    padding: 5px;
}

 /* Adds a top margin to avoid overlay with the header. The size here should be the same of the header*/
 /*I added the margin here instead of the body/the cointaner for simplicity*/
#header_bar{
  margin-top: 100px;
}

/*Unordered list for sidebar*/
.sidebar_list li {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*Ordered list for sidebar*/
.ord_sidebar_list li {
  display: list-item;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Style the tab content. Makes them invisible by default.*/
.tabcontent {
  display: none;
  animation: fadeIn 2s; /* Fading effect takes 1 second */
}

/* List elements change their color when selected. This is applies to the "sidebar_list" class*/
.sidebar_list li.active {
  color: #4169e1;
}

/* Goes from transparent to full opacity content*/
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*Default list classes*/
uldefault {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

oldefault {
  counter-reset: item;      /*Used for bold custom counter*/
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

oldefault lidefault {
  display: block;           /*Used for bold custom counter*/
}

/*Bold custom counter*/
oldefault lidefault:before {
  content: counter(item) ". "; 
  counter-increment: item; 
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  iframe {
      max-width: 100% !important;
      width : 640 !important;
      height : 480 !important;
  }
}

iframe {
  width : 640 ;
  height : 480 ;
}
